@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Validacion de Dominio";
}

<h1>Validacion de Dominio</h1>
<p>Correo ingresado: @ViewBag.Correo</p>
<p>Dominio: @ViewBag.Dominio</p>
