@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Contar Palabras";
}

<h1>Conteo de Palabras</h1>

<p>Frase escrita: "@ViewBag.Frase"</p>
<p>Numero de palabras: @ViewBag.Numeropal</p>